/*
	QtLogout Default Skin
    Copyright (C) 2011 Piotrek Grzeszczak

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
	
	See docs about qt skinning on http://doc.qt.io/qt-4.8/stylesheet-examples.html.
*/

/*Main window*/
QWidget {
	background-color: rgba(0,0,0,0);
	color: #fff
}

QWidget#centralWidget {
	border: 1px solid #383838;
	border-top: 1px; 
	border-bottom: 0;
	background-color: #2D2D2D;
}

QToolButton {
	background: transparent; 
	color: #ddd; 
	border: 0; 
	border-radius: 3px;
	margin: 0;
}

QToolButton:hover {
	background: #D64937;
	color: #fff;
}

QToolButton:pressed {
	background: #B32B1A;
	color: #fff;
}

/*About window*/
QFrame {
	background-color: rgba(0,0,0,0);
}

QFrame#background_frame {
	border: 1px solid qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(0, 0, 0, 0), stop:0.5 rgba(255, 255, 255, 130), stop:1 rgba(0, 0, 0, 0)); 
	border-top: 0; border-bottom: 0;
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(0, 0, 0, 0), stop:0.5 rgba(255, 255, 255, 65), stop:1 rgba(0, 0, 0, 0));
}

QTextBrowser {
	background-color: rgba(255,255,255,192); border: 1px solid rgba(0,0,0,64);
	selection-background-color: #abd;
	color: #000;
}

QPushButton {
	background: transparent; color: #ddd;
	border: 0; border-radius: 8px; margin: 0;
}

QPushButton:hover {
	background: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(255, 255, 255, 16), stop:1 rgba(255, 255, 255, 48));
	color: #fff;
}

QPushButton:pressed {
	background: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(255, 255, 255, 32), stop:1 rgba(255, 255, 255, 64));
	color: #fff;
}
